<div class="snowEffect">
  <p>
    Graphic Design is my passion
  </p>
  <strong>
    I can read and modify html just fine, but I do not have much experience with it just yet
  </strong>
  <h6>
    Look at this amazing thing I can do with HTML.  Wow!
  </h6>
  <img class="frogImage" src="https://i.gyazo.com/2d37aab6425c24cad33706482daa0614.png" />
  <small>
    What a cool frog!
  </small>
</div>

<!--<div class="snowEffect" id="grid">
  <div class="smallwrapper">
    <div class="small inWrapper">
      1
    </div>
    <div class="small inWrapper">
      NEW
    </div>
  </div>
  <div class="small height">
    2
  </div>
  <div class="small">
    3
  </div>
  <div class="small">
    4
  </div>
  <div class="small">
    5
  </div>
  <div class="small">
    6
  </div>
  <div class="small long">
    7
  </div>
  <div class="small long">
    8
  </div>
  <div class="small">
    9
  </div>
</div>-->

